// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';


@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "vue-select/src/scss/vue-select.scss";
@import "vue2-timepicker/dist/VueTimepicker.css";
@import "vue-loading-overlay/dist/vue-loading.css";

// @import url("//unpkg.com/element-ui@1.4.2/lib/theme-default/index.css");

// Additional
@import "ie/custom/policy";
@import "ie/custom/recipt";
@import "ie/custom/qm";
@import "ie/custom/pm";
@import "vuejs-datepicker/qm";
@import "vue2-datepicker/qm";
@import "vue2-timepicker/qm";
@import "ie/app";
@import "ir/app";
@import "eam/app";
@import "eam/jquery.datetimepicker.scss";

@import "pd/pdp0008/app";

/*
div.required>.el-input__inner,
div.required>.el-input>.el-input__inner,
div.required>.el-textarea__inner,
.required {
    background-color: rgb(255, 249, 194) !important;
}

div.required> :disabled >.el-input__inner,
div.required> :disabled >.el-input>.el-input__inner,
div.required> :disabled >.el-textarea__inner,
.required > :disabled {
    background-color: #F5F7FA !important;
    border-color: #E4E7ED !important;
    color: #C0C4CC !important;
}
*/


.mx-datepicker {
    position: relative;
    display: inline-block;
    width: inherit;
    height: 40px !important;
    padding-top: 4px;

    .mx-input-wrapper {

        input {
            border: none;
            height: 30px;
            width: 100%;
            outline-style: none;
            box-shadow: none;
        }

        input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #bbb;
            opacity: 1; /* Firefox */
        }

        .mx-icon-calendar, .mx-icon-clear {
            right: 0px;
            color: #999;
        }
    }

}

.sweet-alert {
    .lead {
      font-size: 1rem;
    }
}
.ibox-content .vm--overlay {
    height: 100%;
    min-height: 100vh;
}

@font-face {
    font-family:'Sarabun-Regular';
    src: url("/fonts/Sarabun-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
}
.logo-font {
    font-family: 'Sarabun-Regular', Arial,Helvetica,sans-serif;
}

.mx-datepicker-popup{
    z-index: 9999 !important;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle!important;
}

.form-control[disabled] {
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
    opacity: 1;
}

.mx-datepicker.disabled {
    background-color: #F5F7FA !important;
    border-color: #E4E7ED !important;
    color: #C0C4CC !important;
}

.swal2-container {
    z-index: 8000!important;
}